---
name: Release

on:
  push:
    tags:
      - '*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: marvinpinto/action-automatic-releases@latest  # https://github.com/marketplace/actions/automatic-releases
        with:
          repo_token: '${{ '{{ secrets.GITHUB_TOKEN }}' }}'
          prerelease: false
